{% extends 'ProgPlay/plantilla.html' %}

{% block contenido %}

{% load static %}



<br>
  <div class="container container-sizes " id="background">
    <div class="row">
     
    </div>
    <br>
    <div class="card mb-3 col-xs-12 color-background">
     
        <div class="row no-gutters">
          <div class="col-xs-12 col-md-6 col-lg-4">
            <img src="{% static 'Progplay/img/invader.jpg' %}" class="card-img img-fluid " alt="...">
            
            <button class="btn btn-primary  ta col-xs-12 col-lg " type="submit">Iniciar</button>
          </div>
          <div class="col-md-8 col-xs">
            <div class="card-body  col-xs-12 col-lg">
              <h5 class="card-title  col-xs-12 col-lg ">Invasor</h5>
              <p class="card-text col-xs-12">La tierra está siendo invadida por una extraña raza de aliens, es tu deber
                ingresar
                los códigos necesarios para que las naves de la tierra puedan combatir</p>
             
            </div>
          </div>
        </div>
      
    </div>


    <div class="card mb-3 col-xs-12 color-background">
      
        <div class="row no-gutters">
          <div class="col-xs-12 col-md-6 col-lg-4">
            <img src="{% static 'Progplay/img/La.jpg' %}" class="card-img img-fluid " alt="...">
            <button class="btn btn-primary ta   col-xs-12 col-lg " type="submit">Iniciar</button>
          </div>
          <div class="col-md-8">
            <div class="card-body col-xs-12 col-lg">
              <h5 class="card-title col-xs-12 col-lg">Sanae-san</h5>
              <p class="card-text col-xs-12">Sanae-san está perdida en la ciudad, deberás ayudarla a volver a casa
                dándole
                direcciones</p>
             
            </div>
          </div>
        </div>
      
    </div>


    <div class="card mb-3 col-xs-12 color-background">
      
        <div class="row no-gutters">
          <div class="col-xs-12 col-md-6 col-lg-4">
            <img src="{% static 'Progplay/img/Food.jpg' %}" class="card-img img-fluid" alt="...">
            <button class="btn btn-primary  ta col-xs-12 col-lg" type="submit">Iniciar</button>
          </div>
          <div class="col-md-8">
            <div class="card-body col-xs-12 col-lg">
              <h5 class="card-title col-xs-12 col-lg">Sr.Bob</h5>
              <p class="card-text col-xs-12">Toda tu vida solo has trabajado en servicios de comida rápida, pero esta es
                tu
                oportunidad de superarte, has sido contratado como ayudante del gran cocinero Bob, deberás seguir a la
                perfección sus indicaciones</p>
              
            </div>
          </div>
        </div>
      
    </div>



    <div class="card mb-3 col-xs-12 color-background">
    
        <div class="row no-gutters">
          <div class="col-xs-12 col-md-6 col-lg-4">
            <img src="{% static 'Progplay/img/Uni.jpg' %}" class="card-img img-fluid" alt="...">
            <button class="btn btn-primary  ta col-xs-12 col-lg" type="submit">Iniciar</button>
          </div>
          <div class="col-md-8">
            <div class="card-body col-xs-12 col-lg">
              <h5 class="card-title col-xs-12">Derpy</h5>
              <p class="card-text col-xs-12">Lina está aprendiendo a montar su unicornio Derpy, ayúdala dándole
                consejos</p>
              
            </div>
          </div>
        </div>
     
    </div>

  </div>
  <br>









{% endblock contenido %}

