{% extends 'ProgPlay/Blog.html' %}

{% load static %}

{% block header %}
<div id="yt_header_5">
        <div class="site-heading center-xs">

                <h1>{{detallePost.titulo}}</h1>
                <h2>{{detallePost.descripcion}}</h2>
                <p>{{detallePost.fecha_creacion_post}}</p>
                <img src='{{detallePost.imagen}}' alt="" class="img-central">
        </div>

        <br>
</div>
{% endblock header %}
{% block barra_busqueda %}
{% endblock barra_busqueda %}
{% block contenido %}
<p class="text-color">
        {{detallePost.contenido | safe}}
</p>
{% endblock contenido %}